
html{
  background-color: rgba(188,143,143,0.1);
}
body, html{
  position: relative;
  margin: 0;
  padding: 0;
}
nav#top-left-icon{
  position: relative;
  display: flex;
  justify-content: space-between;
}
header#top-part{
  background-image: linear-gradient(70deg, darkseagreen 50%, #D58756);
}
aside#icon-panel{
  display:flex;
}
img.icon{
  margin:4px;
  height: 28px;
}
header#title{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}
header#title div{
  margin: 3px;
  color: rgba(0,0,0,0.7);
  font-family: monospace;
  font-size: 1em;
}
header#title div h1,h2{
  margin: 0.5em;
}
#drop-down{
  width: 100%;
  position: relative;
}
section#nav-panel button{
  display: block;
  width: 100%;
  height: 2em;
  color: darkseagreen;
  font-family: monospace;
  font-variant: small-caps;
  font-weight: bold;
  font-size: 2em;
  border-bottom: 2px #bc8f8f solid;
  border-left: 2px #bc8f8f solid;
  border-right: 2px #bc8f8f solid;
  cursor: pointer;
  letter-spacing: 2px;
}
section#nav-panel{
  position: relative;
}
ul#menu{
  position: absolute;
  font-variant: small-caps;
  width: 99.8%;
  border-bottom: 2px #bc8f8f double;
  border-left: 2px #bc8f8f solid;
  border-right: 2px #bc8f8f solid;
  list-style: none;
  text-align: center;
  font-weight: bold;
  font-family: monospace;
  transform: translateY(-500%);
  padding: 0;
  margin: 0;
  box-shadow: 3px 3px 4px lightgrey;
}
ul#menu li a{
  display: block;
  letter-spacing: 3px;
  text-decoration: none;
  color: black;
  background-color: darkseagreen;
  padding:0.5em;
  margin: 0;
  font-size: 1em;
  transition-property: background-color;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
ul#menu li a:hover{
  background-color: rgba(240,128,128,0.8);
  text-decoration: underline;

}
#drop-down:hover button{
  background-color: lightgrey;
}
#drop-down:hover ul#menu{
  transform: translateY(0);
  transition-property: transform;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}
#drop-down:hover main#container{
  transform: translateY(13%);
}
figure#hero-img{
  background-image: url(images/hero-1.jpg);
  width: 375px;
  height: 375px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 1em;
  padding-bottom: 0;
  border-radius: 200px;
  position: relative;
}

main#container{
  display:flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.4em;
  transform: translateY(0);
  animation-name: slide-down;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-iteration-count:1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
section#about{
  border-top: 5px #bc8f8f double;
  border-bottom: 5px #bc8f8f double;
  border-width: 100%;
}
h2{
  font-family: monospace;
}
h3{
  font-size: 2em;
  text-align: center;
  font-family: monospace;
}
h4{
  font-family: monospace;
  font-size: 2em;
}
section#content-page{
  padding-bottom: 2em;
}
section#content-page ul{
  padding: 0;
}
section#content-page ul li{
  list-style: none;
}
section#content-page ul li a{
  text-decoration: none;
  color: green;
  font-family: monospace;
  font-size: 1.3em;
  font-weight: bold;
}
section#content-page ul li a:hover{
  color: lightcoral;
}
p{
  line-height: 1.5em;
  word-spacing: 0.1em;
  font-family: verdana;
}
aside#content-border {
  width: 100%;
  border-bottom: 5px #bc8f8f double;
}
nav#foot-list ul{
  display: inline;
  text-align: center;
  list-style: none;
}
footer#btm-nav ul li a{
  text-decoration: none;
  color: black;
  font-family: monospace;
  font-variant: small-caps;
  font-weight: bold;
  font-size: 1.5em;
}
button.button-2{
  background-color: #bc8f8f;
  border-radius: 4px;
  font-family:monospace;
  font-variant: small-caps;
  font-size: 1.5em;
  font-weight: bold;
  transition-property: background-color, width;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  width: 230px;
}
button.button-2:hover{
  background-color: blanchedalmond;
  width: 245px;
}
/*animation*/

@keyframes slide-down{
  from{
    transform: translateY(0);
  }
  to{
    transform: translateY(8.5%);
  }
}

@media (min-width:978px){
    header#title div{
      font-size: 1.7em;
    }
    @keyframes slide-down{
      from{
        transform: translateY(0);
      }
      to{
        transform: translateY(14%);
      }
    }
}
@media (max-width: 374px){
  figure#hero-img{
    width: 360px;
    height: 360px;
  }
}
